.main {
   height:800px;width: 700px;
   background-color: red;
   margin:auto;
   top: 0;
   left: 0;
   right: 0;
   bottom:0;
}
.name{
   height: 140px;
   width: 700px;
   background-color: green;
}
.name_text{
   height: 140px;
   width: 500px;
   float: left;
}
.name_info{
   text-align: left;
   font-size: 30px;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 10px;
}
.phone{
   text-align: left;
   padding-left: 20px;
   padding-bottom: 5px;
}
.want_job{
   text-align: left;
   padding-left: 20px;
}
.name img{
   float: right;
   margin-right: 50px;
   margin-top: 5px;
   width: auto;
   height: 90%;
}